@media only screen and (max-width: 950px) {

    .main {
        width: 100%;
    }

    .nav {
        width: 80px;
    }

    .menu-element {
        padding: 8px 0px;
    }

    .nav-top {
        padding: 30px 10px;
    }

    .header-search {
        display: none;
    }
    
    .menu-title {
        display: none;
    }

}

@media only screen and (max-width: 800px) {

    .main {
    }

    .header {
        position: fixed;
    }

    #open {
        display: block;
    }
    
    #close {
        z-index: 999;
    }
    #isClick[type=checkbox]:checked ~ #open {
        display: none;
    }

    #isClick[type=checkbox]:checked ~ #close {
        display: block;
    }


    .nav {
        width: 250px;
        position: fixed;
        z-index: 3;
    }

    .menu-title {
        display: inline;
    }

    .header-first {
        display: none;
    }

    #logo {
        display: inline-block;
    }

    .header-logo {
        width: 100%;
        display: block;
        text-align: center;
    }

    .containers {
        margin-top: 83px;
    }

    .container1 {
        width: 100%;
    }

    .annotation {
        width: 100%;
        margin-bottom: 16px;
    }

    .container2 {
        width: 100%;
        display: none;
    }

}